#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(csv_path, encoding="utf-8")

## Player Count

* Display the total number of players

In [4]:
# Calculate and display total numbers of players in dataframe

total_players_count =len(purchase_df["SN"].unique())
total_players_count
total_df = pd.DataFrame({"Total Players": [total_players_count]})
total_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Finding number of unique items, average price, number of purchases, total of revenue

 # Total of unique items
number_unique_items = len(purchase_df["Item Name"].unique())
number_unique_items

# Average price
average_price = purchase_df["Price"].mean()
average_price

# Number of purchases
number_purchases = purchase_df["Purchase ID"].count()
number_purchases

# Total revenue
total_revenue = purchase_df["Price"].sum()
total_revenue

# Summary
summary_df = pd.DataFrame({"Number of Unique Items":[number_unique_items], "Average Price in $": [average_price], "Number of Purchases":[number_purchases], "Total Revenue in $":[total_revenue]})
summary_df

,Number of Unique Items,Average Price in $,Number of Purchases,Total Revenue in $
0,179,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Finding number of players for each gendder and corresponding percentage

# Total Count of male players
Male = purchase_df.groupby(['Gender']).get_group(('Male'))
Male_df = len(Male['SN'].unique())
# Percentage Male players
Male_percent = round((Male_df/total_players_count)*100,2)

# Total Count of female players 
Female = purchase_df.groupby(['Gender']).get_group(('Female'))
Female_df = len(Female['SN'].unique())
# Percentage Female players
Female_percent = round((Female_df/total_players_count)*100,2)

# Total Count of Other / Non-Disclosed
Other_Non_Disclosed = purchase_df.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
Other_Non_Disclosed_df = len(Other_Non_Disclosed ['SN'].unique())
Other_Non_Disclosed_df
# Percentage Other / Non-Disclosed
Other_Non_Disclosed_percent = round((Other_Non_Disclosed_df/total_players_count)*100,2)

# Gender dataframe
Gender_df = pd.DataFrame({'Total Count': [Male_df, Female_df, Other_Non_Disclosed_df],
                          'Percentage of Players': [Male_percent, Female_percent, Other_Non_Disclosed_percent]})
Gender_df.index = (['Male', 'Female', 'Other/Non-Disclosed'])
Gender_df

                     Total Count  Percentage of Players
Male                         484                  84.03
Female                        81                  14.06
Other/Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Create a summary by finding purchase count, average price, total value and average purchase per person

# Purchase for each gender
gender_purchases_df = (purchase_df.groupby("Gender")["Item Name"]).count()
gender_purchases_df

# Average Purchase Price
average_purchase_df = round(purchase_df.groupby("Gender")["Price"].mean(),2)
average_purchase_df

# Total Purchase Value
total_value_df = purchase_df.groupby("Gender")["Price"].sum()
total_value_df

# Average Purchase Total per Person for each Gender 
total_purchase_df = round((total_value_df/gender_purchases_df),2)
total_purchase_df

# Summary of Analysis 

gender_analysis_df = pd.DataFrame({"Purchase Count":gender_purchases_df, 
                                   "Average Purchase Price in $":average_purchase_df,
                                   "Total Purchase Value in $":total_value_df,
                                   "Avg Total Purchase Per Person in $":total_purchase_df})
gender_analysis_df

,Purchase Count,Average Purchase Price in $,Total Purchase Value in $,Avg Total Purchase Per Person in $
Gender,,,,
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Get age range for total of players

# Bin to hold the age value and range 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
agegroup_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# purchase count by age group
purchase_df["Age Range"] = pd.cut(purchase_df["Age"], age_bins, labels=agegroup_names)
purchase_df.head()
total_players_count =len(purchase_df["SN"].unique())

# Total age count
age_count_df = (purchase_df.groupby("Age Range")["SN"].nunique())
age_count_df

# age group percentage 
age_percentage_df = round(purchase_df["Age Range"].value_counts()/total_players_count,4)*100
age_percentage_df

# Summary table 
age_demographic_df = pd.DataFrame({"Total Count":age_count_df,
                                   "Percentage of Players": age_percentage_df})
age_demographic_df

       Total Count  Percentage of Players
<10             17                   3.99
10-14           22                   4.86
15-19          107                  23.61
20-24          258                  63.37
25-29           77                  17.53
30-34           52                  12.67
35-39           31                   7.12
40+             12                   2.26

In [9]:
purchase_df["Age Range"].value_counts()

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age Range, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# Get age group purchase analysis
# Bin to hold the age value and range 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
agegroup_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_df["Age Range"] = pd.cut(purchase_df["Age"], bins, labels=age_range)
purchase_df.head()

players = purchase_df['SN'].count()

age_purchase_data = purchase_df.groupby(['Age'])
purchase_count = purchase_df['Purchase ID'].count()
purchase_count

purchase_age = pd.DataFrame({purchase_df['Purchase ID'].count()})
purchase_age

purchase_age = purchase_age.rename(columns = {'Purchase ID':'Purchase Count'})
purchase_age

purchase_age['Average Purchase Price'] = round((total_purchase/purchase_count),2)
purchase_age

purchase_age['Total Purchase Value'] = total_purchase
purchase_age

purchase_age['Avg Total Purchase Per Person'] = round((total_purchase/players),2)
purchase_age

NameError: name 'bins' is not defined

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# Find Top senders
# Purchase count
spenders_count_df = purchase_df.groupby("SN")["Purchase ID"].count()
spenders_count_df

# Average Purchase Price
spenders_average_price_df = round(purchase_df.groupby("SN")["Price"].mean(),2)
spenders_average_price_df

# Total Purchase Value
spenders_total_df = purchase_df.groupby("SN")["Price"].sum()
spenders_total_df

# Summary table 
spender_table_df = pd.DataFrame({"Purchase Count":spenders_count_df,
                                   "Average Purchase Price in $":spenders_average_price_df,
                                   "Total Purchase Value":spenders_total_df})
spender_table_df.head()

# Determining the top 5 spenders
top_five_spenders = spender_table_df.sort_values("Total Purchase Value", ascending=False)
top_five_spenders.head()

             Purchase Count  Average Purchase Price in $  Total Purchase Value
SN
Lisosia93                 5                         3.79                 18.96
Idastidru52               4                         3.86                 15.45
Chamjask73                3                         4.61                 13.83
Iral74                    4                         3.40                 13.62
Iskadarya95               3                         4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
# Get most popular items
# Item ID
Item_Id = purchase_df.groupby(purchase_df['Item ID'])
Popular_Items = Item_Id['Item ID'].unique()
Popular_Items

#Item Name
Item_Name = Item_Id["Item Name"].unique()
Item_Name

#Purchase Count
Item_Count = Item_Id['Age'].count()
Item_Count

#Item Price
Item_Price= Item_Id['Price'].unique()
Item_Price

#Total Purchase Value
Item_Purchased = Item_Id["Price"].sum()
Item_Purchased

# Summary Table
Items_purchased_df = pd.DataFrame({"Item Name":Item_Name,
                                   "Purchase Count":Item_Count,
                                   "Item Price in $":Item_Price,
                                   "Total Purchase Value in $":Item_Purchased,})
Items_purchased_df

# Determining the five most popular items.

most_popular_items_df = Items_purchased_df.sort_values("Purchase Count", ascending=False)
most_popular_items_df.head()

,Item Name,Purchase Count,Item Price in $,Total Purchase Value in $
Item ID,,,,
92,[Final Critic],13,"[4.88, 4.19]",59.99
178,"[Oathbreaker, Last Hope of the Breaking Storm]",12,[4.23],50.76
145,[Fiery Glass Crusader],9,[4.58],41.22
132,[Persuasion],9,"[3.19, 3.33]",28.99
108,"[Extraction, Quickblade Of Trembling Hands]",9,[3.53],31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
#Get most profitable items
# Item ID
Item_Id = purchase_df.groupby(purchase_df['Item ID'])
Popular_Items = Item_Id['Item ID'].unique()
Popular_Items

#Item Name
Item_Name = Item_Id["Item Name"].unique()
Item_Name

#Purchase Count
Item_Count = Item_Id['Age'].count()
Item_Count

#Item Price
Item_Price= Item_Id['Price'].unique()
Item_Price

#Total Purchase Value
Item_Purchased = Item_Id["Price"].sum()
Item_Purchased

# Identify the 5 most profitable items using the most popular DataFrame
#in descending order 
most_profitable_items_df = Items_purchased_df.sort_values(by="Total Purchase Value", ascending=False)
most_profitable_items_df.head()

# Summary Table
Items_purchased_df = pd.DataFrame({"Item Name":Item_Name,
                                   "Purchase Count":Item_Count,
                                   "Item Price in $":Item_Price,
                                   "Total Purchase Value in $":Item_Purchased,})

KeyError: 'Total Purchase Value'