#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(csv_path, encoding="utf-8")

## Player Count

* Display the total number of players

In [2]:
# Calculate and display total numbers of players in dataframe

total_players_count =len(purchase_df["SN"].unique())
total_players_count
total_df = pd.DataFrame({"Total Players": [total_players_count]})
total_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Finding number of unique items, average price, number of purchases, total of revenue

 # Total of unique items
number_unique_items = len(purchase_df["Item Name"].unique())
number_unique_items

# Average price
average_price = purchase_df["Price"].mean()
average_price

# Number of purchases
number_purchases = purchase_df["Purchase ID"].count()
number_purchases

# Total revenue
total_revenue = purchase_df["Price"].sum()
total_revenue

# Summary Formatting
purchase_summary = pd.DataFrame({"Number of Unique Items":[number_unique_items], "Average Price": [average_price], "Number of Purchases":[number_purchases], "Total Revenue":[total_revenue]})
purchase_summary = purchase_summary.style.format({'Average Price': '${:,.2f}', 'Total Revenue': '${:,.2f}'})
purchase_summary

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Finding number of players for each gendder and corresponding percentage

# Total Count of male players
Male = purchase_df.groupby(['Gender']).get_group(('Male'))
Male_df = len(Male['SN'].unique())
# Percentage Male players
Male_percent = round((Male_df/total_players_count)*100,2)

# Total Count of female players 
Female = purchase_df.groupby(['Gender']).get_group(('Female'))
Female_df = len(Female['SN'].unique())
# Percentage Female players
Female_percent = round((Female_df/total_players_count)*100,2)

# Total Count of Other / Non-Disclosed
Other_Non_Disclosed = purchase_df.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
Other_Non_Disclosed_df = len(Other_Non_Disclosed ['SN'].unique())
Other_Non_Disclosed_df
# Percentage Other / Non-Disclosed
Other_Non_Disclosed_percent = round((Other_Non_Disclosed_df/total_players_count)*100,2)

# Gender dataframe
gender_df = pd.DataFrame({'Total Count': [Male_df, Female_df, Other_Non_Disclosed_df],
                          'Percentage of Players': [Male_percent, Female_percent, Other_Non_Disclosed_percent]})
gender_df.index = (['Male', 'Female', 'Other/Non-Disclosed'])
gender_df = gender_df.style.format({'Percentage of Players': '{:.2f}%'})
gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Create a summary by finding purchase count, average price, total value and average purchase per person

# Purchase for each gender
gender_purchases_df = (purchase_df.groupby("Gender")["Item Name"]).count()
gender_purchases_df

# Average Purchase Price
average_purchase_df = round(purchase_df.groupby("Gender")["Price"].mean(),2)
average_purchase_df

# Total Purchase Value
total_value_df = purchase_df.groupby("Gender")["Price"].sum()
total_value_df

# Average Purchase Total per Person for each Gender 
person_purchase_df = round((total_value_df/gender_purchases_df),2)
person_purchase_df

# Summary of Analysis 

gender_analysis_df = pd.DataFrame({"Purchase Count":gender_purchases_df, 
                                   "Average Purchase Price":average_purchase_df,
                                   "Total Purchase Value":total_value_df,
                                   "Avg Total Purchase Per Person":person_purchase_df})
gender_analysis_df = gender_analysis_df.style.format({'Average Purchase Price': '${:,.2f}', 'Total Purchase Value': '${:,.2f}', 'Avg Total Purchase Per Person':'${:,.2f}'})
gender_analysis_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Get age range for total of players

# Bin to hold the age value and range 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
agegroup_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Category the players according to the age bin
purchase_df['Age'] = pd.cut(purchase_df['Age'], age_bins, labels=agegroup_names)

# DataFrame to store grouped by top-line stats based on age
age_demo = pd.DataFrame(purchase_df.groupby('Age').SN.nunique())

# Rename 'SN' column to 'User Count'
age_demo = age_demo.rename(index=str, columns={'SN': 'Player Count'})

# Percentage
age_demo['Percentage of Players'] = age_demo['Player Count'] / sum(age_demo['Player Count'])*100

# Summary Formatting
age_demo = age_demo.style.format({'Percentage of Players': '{:.2f}%'})
age_demo

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
# Find Top senders
# Purchase count
spenders_count_df = purchase_df.groupby("SN")["Purchase ID"].count()
spenders_count_df

# Average Purchase Price
spenders_average_price_df = round(purchase_df.groupby("SN")["Price"].mean(),2)
spenders_average_price_df

# Total Purchase Value
spenders_total_df = purchase_df.groupby("SN")["Price"].sum()
spenders_total_df

# Summary formatting
spender_table_df = pd.DataFrame({"Purchase Count":spenders_count_df,
                                   "Average Purchase Price":spenders_average_price_df,
                                   "Total Purchase Value":spenders_total_df})
spender_table_df

# Determining the top 5 spenders
top_five_spenders = spender_table_df.sort_values("Total Purchase Value", ascending=False)
top_five_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Most popular items grouped by number of purchases
item_data = purchase_df[['Item ID', 'Item Name', 'Price']]

# Putting data per item number and renaming to summarize all purchases
top_purchases = pd.DataFrame(item_data.groupby(['Item ID', 'Item Name']).agg({'Price':['count', 'sum']}))

# Collapsing column headers
top_purchases.columns = top_purchases.columns.get_level_values(1)

#add a new column that lists the original price
top_purchases['Item Price'] = top_purchases['sum']/top_purchases['count']

# Sorting columns 
top_purchases = top_purchases[['count', 'Item Price', 'sum']]

# Rename columns to adjust with the data they are reflecting
top_purchases = top_purchases.rename(index=str, columns={'count': 'Purchase Count', 'sum': 'Total Purchase Value'})

# Sorting DataFrame per 'Purchase Count' to identify most popular items
top_purchases = top_purchases.sort_values(by='Purchase Count', ascending=False)

# Top 5 items
top_5_purchases = top_purchases[0:5]

# Summary formatting
top_5_purchases = top_5_purchases.style.format({'Total Purchase Value': '${:.2f}', 'Item Price': '${:.2f}'})

top_5_purchases

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
#Get most profitable items
# Using the top purchases data from previous input cell to identify top volume items
top_purchases = top_purchases.sort_values(by='Total Purchase Value', ascending=False)

# Top 5 items
top_5_volume = top_purchases[0:5]

# Summary Formatting
top_5_volume = top_5_volume.style.format({'Total Purchase Value': '${:.2f}', 'Item Price': '${:.2f}'})

top_5_volume